body{
    text-align:center;
    height: 100vh;
    width: 100%;
  }
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/*HEADER SECTION*/
.hearder-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size:x-large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:burlywood;
}
.navs{
    display: flex;
    list-style-type: none;
       
}
.navs>li{
    padding: 10px;
    margin-right: 10px;
   }
   .navs>li>a{
    text-decoration: none;
   }

/*MAIN SECTION*/

#main-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: ghostwhite;
    color: black;
}
#main-btn:hover{
    color: red;
    background-color:antiquewhite;
    cursor: wait;
}

/*FOOTER*/

.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-section>h4>a{
    text-decoration: none;
}




