body{
    text-align:center;
    
}
#btn{
    color: white;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin:auto;
}
#btn:hover{
    background-color: blanchedalmond;
    color: red;
}
