*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
  }
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/*HEADER SECTION*/
.hearder-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    font-size:x-large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 5px;
    margin-right: auto;
    
}
.logo a{
    color: greenyellow;
    text-decoration: none;

}

.navs{
    display: flex;
    list-style-type: none;

}
.navs>li{
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
   }
   .navs>li>a{
    text-decoration: none;
    color:white;
    
   }
   .navs>li>a:hover{
    color: greenyellow;
    transition: 0.4s ease-in-out;
   }
   .search-bar{
    width: 330px;
    float: left;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid greenyellow;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    
}
.btn-bar{
    margin-right: 30px;
    width: 100px;
    height: 40px;
    background: #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
    border:1px solid greenyellow;
    border-left: none;
    
}
.btn-bar:hover{
    color: #000;
    background-color: lightgreen;
    
}

/*MAIN SECTION*/
.main-section{
    width: 1200px;
    height: auto;
    color: #fff;
    margin-left: 20px;
    
}
.main-section h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.main-section span{
    color: greenyellow;
}
.main-section .theme-sec{
    padding-left: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 100px;
}

#main-btn{
    padding: 10px 20px;
    margin: 20px;
    border:2px chartreuse solid;
    border-radius: 10px;
    background-color: lightcoral;
    color: #fff;
    
}
#main-btn:hover{
    color: black;
    background-color:lightgreen;
    cursor: pointer;
    transition: 0.4s ease;
}

/*FOOTER*/

.footer-section{
    display: flex;
    justify-content: space-around;
    background:linear-gradient(pink, green);
    height: 10vh;
    align-items: center;

}
.footer-section>h4>a{
    text-decoration: none;
}
#buy-products button {
    background: lightgreen;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}



