#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*HEADER SECTION*/
.header-section, .header-navs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo{
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
#logo img{
  width: 2rem;
}
#navs{
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}
/*HOME HEROS*/
.home-heros{
  display: flex;
  justify-content: space-around;
}
#hero-pages{
  width: 100%;
  background-color: lightcoral;
  padding: .5rem;
  margin: 1rem;
}
.pages-files{
  width: 100%;
  background-color: cadetblue;
  height: 40vh;
}
a.active{
  background-color: lightblue;
  border-radius: 2rem;
  padding: .5rem 2rem;
}